<c-card class="mb-4">
  <c-card-header>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <!-- <button cButton color="primary" class="me-md-2">Button</button> -->
    <button cButton color="primary">Add View</button>
  </div>
  </c-card-header>
  <c-card-body>
    <c-row>
      <c-card >
        <img cCardImg="top" src="../../../assets/images/angular.jpg">
        <c-card-body>
          <h5 cCardTitle>Gen Z Led Demonstartions</h5>
          <p cCardText>
            Details of the View
          </p>
          <button cButton style="background-color: #1F1E70; color: white;">Summarize View</button>
        </c-card-body>
      </c-card>
    </c-row>
  </c-card-body>
</c-card>
