<c-row>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <!-- <button cButton color="primary" class="me-md-2">Button</button> -->
    <button cButton color="primary">Add Incidence</button>
  </div>
  <c-col [sm]="6">
<c-card class="mb-4">
  <c-card-header>
    Incidences
    
  </c-card-header>
  <c-card-body>
    
        <img cCardImg="top" src="../../../assets/images/angular.jpg">
        <c-card-body>
          <h5 cCardTitle>Ongoing Gen Z Led Demonstartions</h5>
          <p cCardText>
            Details of the Incidence
          </p>
          <button cButton color="light">Summarize Incidence</button>
        </c-card-body>
      
  </c-card-body>
</c-card>
</c-col>
</c-row>
