<!-- <app-widgets-dropdown /> -->
<c-row>
  <c-col [sm]="6">

<c-card class="mb-4" style="background-color: #4854C3; color: white;">
  <img cCardImg="top" src="../../../assets/images/angular.jpg">
  <c-card-body>
    <h5 cCardTitle>Document Title</h5>
    <p cCardText>
      Document Description
    </p>
    <button cButton style="background-color: #1F1E70; color: white;" >Download</button>
  </c-card-body>
</c-card>
</c-col>

<c-col [sm]="6">
<c-card class="mb-4" style="background-color: #4854C3; color: white;">
  <img cCardImg="top" src="../../../assets/images/angular.jpg">
  <c-card-body>
    <h5 cCardTitle>Document Title</h5>
    <p cCardText>
      Document Description
    </p>
    <button cButton style="background-color: #1F1E70; color: white;">Download</button>
  </c-card-body>
</c-card>
</c-col>
</c-row>